.homepage {
  position: relative;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightblue;
    border: 1px solid lightgreen;
    font-size: 18px;
    padding: 0 10px;
    height: 45px;
    &__login--span{
      padding: 5px;
      margin-left: 8px;
      font-size: 20px;
      color: black;
    }
    &__student {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &--span {
        padding: 5px;
        border-radius: 3px;
        margin-left: 8px;
        font-size: 20px;
        color: grey;
        &:hover {
          cursor: pointer;
          color: black;
        }
      }
    }
    .active {
      background: lightcyan;
      font-weight: 700;
      color: black;
    }
  }
}
